<label>Server Name</label>
<!--<input
    type="text"
    class="format-control"
    (input)="onUpdateServerName($event)">-->

<input
        type="text"
        class="format-control"
        [(ngModel)]="serverName">

<!--<p>{{ serverName }}</p>-->
<button
    class="btn btn-primary"
    (click)="onCreateServer()"
    [disabled]="!allowNewServer">Add Server</button>
<!--<p [innerText]="allowNewServer"></p> -->
<!--<p>{{ serverCreationStatus }}</p>-->
<p *ngIf="serverCreated">Server was created, server name is {{ serverName }}</p>
<app-server></app-server>
<app-server></app-server>